<nav
  class="border-4 bg-white border-pink-400 p-4 w-full lg:w-auto lg:max-w-xs max-h-full"
>
  <ul>
    {{ $title := lower .Title }} {{ $section := lower .Section }}
    <li>
      <a href="{{ .Site.BaseURL }}" class="whitespace-nowrap">-> home</a>
    </li>
    {{ range .Site.Menus.main }} {{ $name := lower .Name }}
    <li>
      <a href="{{ .URL }}" class="whitespace-nowrap">-> {{ lower .Name }}</a>
    </li>
    {{end}}
    <li>
      <a href="https://www.instagram.com/soniclobster/" class="whitespace-nowrap">-> band instagram</a>
    </li>
    <li>
      <a href="https://www.youtube.com/@SonicLobster207" class="whitespace-nowrap">-> band youtube</a>
    </li>
  </ul>
</nav>
