{{ define "main" }}

<main class="w-full h-full bg-white border-4 border-blue-800 border-dotted p-4">
  <section>
    <!--<div class="right margin">
      <img src="/images/octodex.jpg" alt="me" />
      <p><a href="https://octodex.github.com/boxertocat/">octodex #139</a></p>
    </div>-->
    <h1 class="text-xl font-bold">SONIC LOBSTER</h1>
    <p class="my-4">
      Welcome, internet surfer, to our website! We are a cover band based in Portland, Maine. You can check us out on <a href="https://www.instagram.com/soniclobster/">Instagram</a> and <a href="https://www.youtube.com/@SonicLobster207">YouTube</a>. We play a broad range of covers (and are always happy to take requests!) but our primary specialty is indie and alt rock from the '90s, '00s, and early '10s.
      <span
        class="bg-[url('/images/water.webp')] text-black font-bold p-4 block"
        >book us to play for you!
      </span>
    </p>
  </section>

  <!--<section>
    <p>
      To get started, check out
      <a href="https://github.com/isaksolheim/cyberscape">the docs</a>! 💓
    </p>
  </section>-->
</main>

{{ end }}
